.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    radius: 1px solid black;
}

.title {
    margin-left: 10rem;
}

.form-cont {
    display: flex;
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column; 
}