* {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(199, 195, 195);
}

.title {
  margin-top: 4rem;
  font-family: 'Cocogoose', sans-serif;
text-align: center;
  margin-bottom: 2rem;
  font-size: 52px;

  background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url(./photos/tech.webp);
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-cont {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}

input {
  height: 30px;
  padding-left: 12px;
  border-radius: 7px;
}

#form {
  display: flex;
  flex-direction: column;
}

.scores-list {
  border: 1px solid rgb(41, 38, 38);
  width: 200px;
  gap: 4px;
  background-color: #fff;
  font-size: 16px;
  font-family: 'lato', sans-serif;
}

#name {
  width: 200px;
  color: black;
  margin-bottom: 12px;
}

.submit {
  margin-top: 12px;
  width: 80px;
  text-align: center;
  margin-left: 8rem;
  border-radius: 7px;
  background-color: #fff;
  color: rgb(156, 16, 16);
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}

.r-score {
  display: inline-flex;
  gap: 4rem;
  height: 80px;
}

.refresh {
  width: 80px;
  height: 30px;
  border-radius: 7px;
  font-size: 14px;
  color: #fff;
  background-color: rgb(72, 61, 131);
}

.a-score {
  font-size: 24px;
  color: rgb(97, 46, 46);
  font-family: 'poppins', sans-serif;
}

li {
  background-color: rgb(185, 175, 175);
  padding-left: 14px;
  padding-top: 8px;
  font-weight: bold;
  
}

.score-cont {
  margin-left: 10rem;

}

.recent {
  font-size: 24px;
  color: rgb(97, 46, 46);
  font-family: 'poppins', sans-serif;
}
